.custom-font-size {
    font-size: 36px;
}

/*styles for header*/
#logo-size {
    height: 156px;
    width: 136px;
}

.logo {
    height: 160px;
    text-align:center
}

header, main, footer {
    padding-left: 240px;
}

/* like 4s screen */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	.page-title {
        font-size: 24px;
        line-height: 100px
    }

}

/*little screen - remove padding and fix fonts*/
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }

    .page-title {
		font-size: 36px;
        line-height: 100px
	}

    .arrows:before{
        content: "\f13a";
        margin: 0 20px;
    }

    .arrows {
        margin: 20px 0;
    }

}

/*huge screen*/
@media only screen and (min-width : 992px) {
	.page-title {
        font-size: 48px;
        line-height: 100px
    }

    .arrows:before{
        content: "\f138";

    }

    .arrows {
        margin-top: 45px;
    }

}

#nav-mobile {
    width: 240px
}


.back-btn {
    margin-top: 20px;
}

.cart {
    margin-left: 50px;
}

.cart-picture {
    height: 80px;
}

/*---------------------------------------------*/

/*styles for body*/

.container {
    width: 85%;
}

/*---------------------------------------------*/

/*styles for home*/

.welcome-text {
    text-align: justify;
}

.category-img {
    width: 130px;
    height: 130px;
}

.info {
    text-align: center;
}

.js-show-categories {
    width: 300px;
}

i.small {
    font-size: 3rem;
}

.category-names {
    padding-left: 50px;
}

.my-card {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.adaptive-btn {
    width: 100%;
}

.btn-large i {
    font-size: 1.3rem !important;
    padding-right: 5px;
}

/*---------------------------------------------*/

/*styles for products*/
.add-new {
    position: relative;
}
/*---------------------------------------------*/

/*styles for categories*/


/*--------------------------------------------*/

/*styles for footer*/

/*sticky footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
flex: 1 0 auto;
}

/*---------------------------------------------*/