.custom-font-size {
    font-size: 36px;
}

/*styles for header*/
#logo-size {
    height: 156px;
    width: 136px;
}

.logo {
    height: 160px;
    text-align:center
}

header, main, footer {
    padding-left: 240px;
}

/*little screen - remove padding*/
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
.page-title {
    font-size: 48px;
    line-height: 100px
}

.new-nav {
    height: 100px;
}

#nav-mobile {
    width: 240px
}
/*---------------------------------------------*/

/*styles for body*/

.container {
    width: 85%;
}

/*---------------------------------------------*/

/*styles for categories*/

.welcome-text {
    text-align: justify;
}

.category-img {
    width: 130px;
    height: 130px;
}

.info {
    text-align: center;
}

.js-show-categories {
    width: 300px;
}

i.small {
    font-size: 3rem;
}

.arrow-next {
    color: black;
    margin-top: 45px;
}

.category-names {
    padding-left: 50px;
}

/*---------------------------------------------*/

/*styles for products*/
.add-new {
    position: relative;
}
/*---------------------------------------------*/

/*styles for footer*/

/*sticky footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
flex: 1 0 auto;
}

/*---------------------------------------------*/