#logo-size {
    height: 156px;
    width: 136px;
}

.logo {
    height: 160px;
    text-align:center
}

header, main, footer {
    padding-left: 200px;
}

.container {
    width: 85%;
}

/*little screen - remove padding*/
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}