{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="row my-card">
        <div class="col s12 card">
            <div class="col s12 m9 l9 card-content welcome-text">
                <p class="card-title">
                    Games Of Future
                </p>
                <p>
                    Подарки для тех, кто хочет помочь своим друзьям и близким узнать больше о развивающихся направлениях
                    электроники, химии и механики или просто порадовать нестандартными идеями.
                    Заинтересуйте любого миром технологий, интеллекта и постоянного развития.
                </p>
            </div>
            <div class="col s12 m9 l3 card-content">
                <img class="responsive-img" src="{% static 'img/site/muzhichki.png' %}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l4">
            <a href="/" class="waves-effect waves-light btn-large blue adaptive-btn">Выбрать подарки</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="info">
                <p class="custom-font-size">
                    Мы делаем особенные подарки
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 info">
            <div class="col s12 l2">
                <div class="category-data">
                    <img class="category-img" src="{% static 'img/site/target.png' %}">
                </div>
                <div>
                    Цель
                </div>
            </div>
            <div class="col s12 l1">
                <i class="fa arrows fa-3x arrow-next"></i>
            </div>
            <div class="col s12 l2">
                <div>
                    <img class="category-img" src="{% static 'img/site/game.png' %}">
                </div>
                <div>
                    Игра
                </div>
            </div>
            <div class="col s12 l1">
                <i class="fa arrows fa-3x arrow-next"></i>
            </div>
            <div class="col s12 l2">
                <div>
                    <img class="category-img" src="{% static 'img/site/learning.png' %}">
                </div>
                <div>
                    Обучение
                </div>
            </div>
            <div class="col s12 l1">
                <i class="fa arrows fa-3x arrow-next"></i>
            </div>
            <div class="col s12 l2">
                <div>
                    <img class="category-img" src="{% static 'img/site/result.png' %}">
                </div>
                <div>
                    Результат
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <p>
                        Наша миссия — особенные подарки.
                    </p>
                    <p>
                        Они составлены и собраны так, чтобы после открытия человек видел цель, которая его заинтересует.
                        Мы ведём его в игровой форме, но в это время объясняем физические и химические законы, а уже
                        непосредствено он сам своими руками собирает колонки и рации, исследует химию и познаёт то, что
                        может заворожить его и сделать саморазвитие его хобби.
                    </p>
                    <p>
                        При этом неважно, дарите вы подарок взрослому или ребёнку, студенту или дедушке, на праздник или
                        без повода, цель у всех и всегда останется одна: сделать круто. И мы поможем.
                    </p>
                </div>
              </div>
            </div>
    </div>
{% endblock %}