<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Games of Future</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mine.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper blue accent-1">
                <div class="container">
                    <a class="brand-logo" href="#!">
                        Games Of Future
                    </a>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                    </div>
            </div>
          </nav>
        <ul id="nav-mobile" class="side-nav fixed">
            <div class="logo">
                <a href="/">
                    <img id="logo-size" src="{% static 'img/site/logo.png' %}">
                </a>
            </div>
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="cart">
                    <a href="#!">
                        <img class="cart-picture" src="{% static 'img/site/cart.png' %}">
                    </a>
                </div>
              </div>
            </div>
            <li>
                <a class="waves-effect waves-teal" href="#">
                    Выбор категории
                </a>
            </li>
            <li>
                <a class="waves-effect waves-teal" href="#">
                    Как мы делаем подарки
                </a>
            </li>
            <li>
                <a class="waves-effect waves-teal" href="#">
                    Наш блог
                </a>
            </li>
            <li>
                <a class="waves-effect waves-teal" href="#">
                    Руководства
                </a>
            </li>
            <li>
                <a class="waves-effect waves-teal" href="#">
                    Доставка/оплата
                </a>
            </li>
            <li>
                <a class="waves-effect waves-teal" href="#">
                    Контакты
                </a>
            </li>
        </ul>
    </header>
    <main>
        <div class="container">
            {% block breadcrumbs %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            <div class="row">
                <div class="col s12 m4 l4">
                    <a href="/" class="waves-effect waves-light btn-large blue adaptive-btn btn-before-subscrube">
                        Выбрать подарки
                    </a>
                </div>
                <div class="col s12 l8">
                    <div class="card-panel grey lighten-5 z-depth-1">
                      <div class="row valign-wrapper">
                        <div class="col s4">
                          Подпишись :)
                        </div>
                        <div class="input-field  col s8">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </main>

    <footer class="page-footer blue accent-1">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <p class="grey-text text-lighten-4">
                    © 2015. Интернет-магазин подарков для будущего Games of Future — качественные подарки для развития
                    всех-всех-всех: от 6-летнего ребенка до 17-летнего подростка и от 18-летнего студента до мужчины за
                    50. Надеемся, вы нашли всё, что искали! Приятных подарков и удачи на любой праздник!
                </p>
              </div>
            </div>
          </div>
        </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/mine.js' %}"></script>
</body>
</html>