{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="row">
    {% for i in '1234567890' %}
        <div class="col s12 m3 l3 add-new">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{% static 'img/site/product.png' %}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        Название товара<i class="material-icons right">more_vert</i>
                    </span>
                    <p>
                        <a href="{% url 'product-page' pk=1 %}">Ссылка на товар</a>
                        <a class="right"><i class="fa fa-rub"></i></a>
                        <a class="right">599</a>

                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Название товара<i class="material-icons right">close</i></span>

                    <p>Описание</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}